body {
    background-image: repeating-linear-gradient( red, yellow 10%, green 20%);
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

nav{
    background: lime;
    height: 70px;
    width: 100%;
}

label.logo{
    color: white;
    font-size: 45px;
    line-height: 70px;
    padding: 0 70px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 50px;
}

nav ul li{
    display: inline-block;
    line-height: 70px;
    margin: 0 10px;
}

nav ul li a{
    color: #00FA9A;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 7px;
    border-radius: 1px;
    background-color: #2E8B57;
}

a.active,a:hover{
    background: rgb(145, 209, 145);
    transition: .5s;
}

h1 {
    text-align: center;
    color: orange;
    font-size: 150px;  
    background-color: #00fbff;  
    font-family: 'Brush Script MT', cursive;
    border: 8px solid;
    border-color: #FFD700;

}

h2 {
    color: #EE82EE;
    font-size: 100px; 
}

p {
    font-size: 25pt;
    font-family: 'Halloween Spooky', sans-serif;
}

img, iframe {
    border: 8px dotted;
    border-color: #00FA9A;
}

.bird {
    text-align: end;
    color: v;
    font-size: 50px;
    font-family: Arial Narrow, sans-serif;
    border: 5px dotted;
    border-width: 10%;
}

.supe {
    border: 6px dotted;
    border-color: red;
    display: flex;
    width: 50%;
   
}

.hawk {
    position: absolute;
    left: 50%;
    top: 60%;
    border: 6px dotted;
    border-color: yellow;
    display: flex;
    width: 50%;

}

.island {
    border: 6px dotted;
    border-color: orangered;
    display: flex;
    width: 57%;

}

.bat {
    position: absolute;
    left: 50%;
    border: 6px dotted;
    border-color: grey;
    display: flex;
    width: 50%;

}

.wolf {
    border: 6px dotted;
    border-color: teal;
    display: flex;
    width: 50%;

}

.robin {
    border: 6px dotted;
    border-color: darkolivegreen;
    display: flex;
    width: 50%;

}

.wind {
    position: absolute;
    left: 50%;
    border: 6px dotted;
    border-color: #D8BFD8;
    display: flex;
    width: 50%;

}

.witch {
    border: 6px dotted;
    border-color: #00FF7F;
    display: flex;
    width: 50%;

}

.fairy {
    position: absolute;
    left: 50%;
    border: 6px dotted;
    border-color: tomato;
    display: flex;
    width: 50%;  
}

.warlock {
    border: 6px dotted;
    border-color: #8B0000;
    display: flex;
    width: 50%;

}

.fairy {
    position: absolute;
    left: 50%;
    border: 6px dotted;
    border-color: #800080;
    display: flex;
    width: 50%;  
}

.jack {
    border: 6px dotted;
    border-color: #FA8072;
    display: flex;
    width: 50%;

}

.fairy {
    position: absolute;
    left: 50%;
    border: 6px dotted;
    border-color: #00FFFF;
    display: flex;
    width: 50%;  
}

.bend {
    border: 6px dotted;
    border-color: #CD5C5C;
    display: flex;
    width: 60%;

}

.vampire {
    position: absolute;
    left: 60%;
    border: 6px dotted;
    border-color: #FF69B4;
    display: flex;
    width: 30%;

}

.lab {
    border: 6px dotted;
    border-color: #CD5C5C;
    display: flex;
    width: 60%;   
}

.test {
    position: absolute;
    left: 50%;
    border: 6px dotted;
    border-color: whitesmoke;
    display: flex;
    width: 50%;

}

.neuron {
    border: 6px dotted;
    border-color: brown;
    display: flex;
    width: 50%;   
}

.ghost { 
    border: 6px dotted;
    border-color: plum;
    display: flex;
    width: 50%;

}

.blue {
    position: absolute;
    left: 50%;
    border: 6px dotted;
    border-color: chocolate;
    display: flex;
    width: 50%;

}

.spy { 
    border: 6px dotted;
    border-color: #6495ED;
    display: flex;
    width: 50%;

}