body {
    background-image: repeating-radial-gradient(red, indigo 10%, green 15%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

nav{
    background: lime;
    height: 70px;
    width: 100%;
}

label.logo{
    color: white;
    font-size: 45px;
    line-height: 70px;
    padding: 0 70px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 50px;
}

nav ul li{
    display: inline-block;
    line-height: 70px;
    margin: 0 10px;
}

nav ul li a{
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 7px;
    border-radius: 1px;
}

a.active,a:hover{
    background: rgb(145, 209, 145);
    transition: .5s;
}

.interwebs{
    position: absolute;
    left: 70%;
    border: 6px solid;
    border-color: chocolate;
    width: 25%;
    background-color: black;

}

.ads{
    /*border: 6px solid;
    border-color: chocolate;*/
    width: 25%;
    background-color: darkcyan;

}
